
/* FONT STYLES */

/* HEADER STYLES */
/* ============================================================================ */
.header {
    background-color: white;
    border-bottom: 3px solid rgb(23, 7, 82);
}

.logo {
    text-align: left;
    margin-top: 0px; 
    margin-bottom: 0px;
    font-family: 'Satisfy', cursive;
}

/* WINE SEARCH BAR */
nav .input-field label i {
    color: #666;
}

nav .input-field label.active i {
    color: #666;
}

nav {
    float: top;
    background-color: #fff;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 0px 0px 0px rgba(0,0,0,0.12), 0px 2px 0px 0px rgba(0,0,0,0.2);
}

/* BODY BACKGROUND STYLES */
/* ============================================================================= */

/* Area where all of the wine data (site main content) is displayed */

body {
    position: relative;
}

footer {
    position: fixed;
    width: 600px;
    bottom: 0;    
    right: 10px;
}

.black-box {
    background-color: black;
    color: white;
}

.white-box {
    background-color: white
}



.center-align {
    width: 100%;
}

.row {
    position: relative;
}

#fadebackground {
    position: fixed;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0.8;
    z-index: -1;
}


/* STYLES FOR AUTO-SUGGEST SEARCH */
/* ================================================================================ */
@font-face {
    font-family:"Prociono";
    src: url("../font/Prociono-Regular-webfont.ttf");
}
html {
    overflow-y: scroll;
}

input::placeholder {
    margin: 0px;
}

.container {
    margin: 0 auto;
    max-width: 750px;
    text-align: center;
}
.tt-dropdown-menu, .gist {
    text-align: left;
    border-radius: 5px;
}
html {
    color: #333333;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
}
.title, .example-name {
    font-family: Prociono;
}
p {
    margin: 0 0 0px;
}
.title {
    font-size: 64px;
    margin: 20px 0 0;
}
.example {
    padding: 30px 0;
}
.example-name {
    font-size: 32px;
    margin: 20px 0;
}
.demo {
    margin: 50px 0;
    position: relative;
}
.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 396px;
}
.typeahead {
    background-color: #FFFFFF;
}
.typeahead:focus {
    border: 2px solid #0097CF;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
    color: #666;
}
.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097CF;
    color: #666;
}
.tt-suggestion p {
    margin: 0;
}
.gist {
    font-size: 14px;
}
.example-twitter-oss .tt-suggestion {
    padding: 8px 20px;
}
.example-twitter-oss .tt-suggestion + .tt-suggestion {
    border-top: 1px solid #CCCCCC;
}
.example-twitter-oss .repo-language {
    float: right;
    font-style: italic;
}
.example-twitter-oss .repo-name {
    font-weight: bold;
}
.example-twitter-oss .repo-description {
    font-size: 14px;
}
.example-sports .league-name {
    border-bottom: 1px solid #CCCCCC;
    margin: 0 20px 5px;
    padding: 3px 0;
}
.example-arabic .tt-dropdown-menu {
    text-align: right;
}

  
/* BODY CONTENT STYLES */
/* ============================================================================= */

#wine-row {
    background-color: white;
}

#wine-image {
    width: 25%;
}

#image-style {
    height: 200px;
    image-rendering: auto;
}

#wine-info-body {
    width: 30%;
}

#wine-name {
    font-weight: bold;
}

#wine-varietal {
    font-weight: normal;
}

#wine-vintage {
    font-weight: normal;
}

#wine-pairings {
    width: 45%;
    padding-left: 20px;
    align-content: flex-start;
}

#recommended-recipes {
    align-items: inherit;
    border-bottom: #333333;
    border-width: 3px;
    font-weight: bold;
}