
/* FONT STYLES */

/* HEADER STYLES */
/* ============================================================================ */
.header {
    background-color: white;
    border-bottom: 3px solid rgb(23, 7, 82);
}

.logo {
    text-align: left;
    margin-top: 0px; 
    margin-bottom: 0px;
    font-family: 'Satisfy', cursive;
}

/* WINE SEARCH BAR */
nav .input-field label i {
    color: #666;
}

nav .input-field label.active i {
    color: #666;
}

nav {
    background-color: #fff;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 0px 0px 0px rgba(0,0,0,0.12), 0px 2px 0px 0px rgba(0,0,0,0.2);
}

/* BODY STYLES */
/* ============================================================================= */

/* Area where all of the wine data (site main content) is displayed */

body {
    position: relative;
}

.row {
    position: relative;
    z-index: 2;
}

#fadebackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}


